<h1>Convert <%= @original_currency.upcase %> to <%= @destination_currency.upcase %> </h1>
<p>1 <%= @original_currency.upcase %> equals <%= @result %> <%= @destination_currency.upcase %><p>
<p>Go <a href="/<%= @original_currency %>">back</a></p>
